@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}
